# ======================== Elasticsearch Configuration =========================
cluster.name: "{{ cluster_name }}"
node.name: "{{ inventory_hostname }}"
node.roles: [ "master", "data", "ingest" ]

path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch

network.host: 0.0.0.0
transport.host: 0.0.0.0
http.port: 9200
transport.port: 9300

# Enable security features
xpack.security.enabled: true
xpack.security.enrollment.enabled: true

# Enable encryption for HTTP API client connections, such as Kibana, Logstash, and Agents
xpack.security.http.ssl:
  enabled: true
  keystore.path: certs/http.p12

# Enable encryption and mutual authentication between cluster nodes
xpack.security.transport.ssl:
  enabled: true
  verification_mode: certificate
  keystore.path: certs/transport.p12
  truststore.path: certs/transport.p12

discovery.seed_hosts:
  - "{{ hostvars['elk1']['ansible_host'] }}:9300"

# Bootstrap setting - only needed for initial cluster formation
cluster.initial_master_nodes:
  - "{{ inventory_hostname }}"

bootstrap.memory_lock: false

# Light tuning for small VM
thread_pool.write.size: 2
thread_pool.search.size: 2
