filebeat.inputs:
  - type: filestream
    id: postgres-csv
    paths:
      - /var/lib/pgsql/data/log/postgresql-*.csv
    tags: ["postgres"]

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

output.elasticsearch:
  enabled: false

output.logstash:
  hosts: [ "localhost:5044" ]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
