filebeat.inputs:
  - type: filestream
    id: gitlab-rails
    paths:
      - /var/log/gitlab/gitlab-rails/*json.log
    parsers:
      - ndjson:
          target: ""
          add_error_key: true
          overwrite_keys: true
    tags: ["gitlab"]

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

output.elasticsearch:
  enabled: false

output.logstash:
  hosts: [ "{{ hostvars['elk2']['ansible_host'] }}:5044" ]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
