filebeat.inputs:
  # - type: filestream
  #   id: gitlab-rails
  #   paths:
  #     - /var/log/gitlab/gitlab-rails/*json.log
  #   parsers:
  #     - ndjson:
  #         target: ""
  #         add_error_key: true
  #         overwrite_keys: true
  #   tags: ["gitlab-rails"]

  - type: filestream
    id: gitlab-gitaly
    paths:
      - /var/log/gitlab/gitaly/current
    parsers:
      - ndjson:
          target: ""
          add_error_key: true
          overwrite_keys: true
    tags: ["gitlab-gitaly"]

  - type: filestream
    id: gitlab-nginx
    paths:
      - /var/log/gitlab/nginx/gitlab_access.log
    processors:
      - grok:
          field: "message"
          patterns:
            - '%{IPORHOST:source.ip} - %{DATA:user.name} \[%{HTTPDATE:timestamp}\] "%{WORD:http.request.method} %{DATA:url.path} HTTP/%{NUMBER:http.version}" %{NUMBER:http.response.status_code:int} %{NUMBER:http.response.body.bytes:int} "%{DATA:http.request.referrer}" "%{DATA:user_agent.original}"( %{NUMBER:event.duration:float})?'
      - date:
          field: "timestamp"
          formats: ["dd/MMM/yyyy:HH:mm:ss Z"]
    tags: ["gitlab-nginx"]

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 1

output.elasticsearch:
  enabled: false

output.logstash:
  hosts: [ "{{ hostvars['elk2']['ansible_host'] }}:5044" ]

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
